<div class='divsito'>
  <div id="main-header">

    <a id="logo-header">
      <span class="site-name" [routerLink]="['/','lista']">itMakers</span>
      <span class="site-desc">Prueba tecnica</span>
    </a> <!-- / #logo-header -->

    <nav>
      <ul>
        <li><a [routerLink]="['/','registro']">Registro</a></li>
        <li><a [routerLink]="['/']">Login</a></li>
        <li><a [routerLink]="['/','crear']">Crear usuario</a></li>
        <li><a [routerLink]="['/','lista']">Lista</a></li>
      </ul>
    </nav><!-- / nav -->

  </div>
</div>
